* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
}
.AfterGridSection {
  min-height: 100vh;
}
.sectionbg {
  min-height: 100vh;
  background-image: url(https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/gldn-Hero-MSCOM-Outlook-iOS-Android:VP5-1596x600);
  background-attachment:center;
  background-position: 90% 10%;
  background-size: cover;
  display: flex;
  align-items: center;
}
.sectionbg .maindiv {
  width: 30%;
  margin-left: 8rem;
}
.maindiv h2,
.maindiv p {
  margin-bottom: 1.4rem;
}
.maindiv h2 {
  font-weight: 509;
  color: rgba(0, 0, 0, 0.884);
}
.sectionbtn {
  display: flex;
  background: transparent;
}
.sectionbtn:first-child {
  min-width: 90%;
}
.sectionbtn:last-child {
  display: flex;
  margin-top: 14px;
  min-width: 90%;
}

@media (max-width: 1078px) {
  .sectionbg {
    z-index: -0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: end;
    align-items: stretch;
    /* transform: translateX(-1rem); */
  }
  .sectionbg .maindiv {
    margin-right: -9px;
    box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.185);
    padding: 1.2rem 3rem;
    transform: translateY(5rem);
    display: block;
    background-color: white;
    width: 100%;
    /* width: 30%; */
    margin-left: 1rem;
  }
  .nowidth {
    transform: translateX(1rem);
  }
}
